:root {
    --background-input-search: #ebfffc;
    --input-color:  #626262;
    --white-color: white;
    --hover-color: rgb(239, 235, 235);
}


body {
    background-image: url("../Assets/sky.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    border-radius: 12px;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar {
    display: flex;
    gap: 14px;
    padding-top: auto;
}

.cityInput {
    display: flex;
    width: 362px;
    height: 58px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: var(--input-color);
    font-size: 20px;
    font-weight: 400;
    background: var(--background-input-search);
    
    
}

.cityInput:hover {
    background-color: var(--hover-color);
}

.weather-image {
    margin-top: 29px;
    display: flex;
    justify-content: center;
   
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-size: 50px;
    font-weight: 400;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-size: 50px;
    font-weight: 400;
}

.data-container {
    margin-top: 50px;
    color: var(--white-color);
    display: flex;
    justify-content: center;

}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.forecast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 10px;
   
}

.forecast-item {
   
    padding: 15px;
    border-radius: 10px;
}

.forecast-temp,
.forecast-description {
    font-size: 14px;
}

.five-days {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--background-input-search);
   border: none;
   outline: none;
   height: 40px;
   margin: auto;
   border-radius: 20px;
   margin-top: 10px;
   transition: 0.3s ease;
}

.five-days span {
    color: var(--input-color);
}

.five-days:hover{
    background-color: var(--hover-color);
    
}

.back-container {
  margin-top: 20px;
  margin-left: 10px;
 
}

.back span{
    color: var(--white-color);
    size: 14px;
}
